/* body */
body{
    background-color: #d2d2d2;
    margin: 0;
    font-size: 15px;
    line-height: 2;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;;
}


/* container */
.container{
    max-width: 1200px;
    width: 98%;
    margin: 0 auto;
    background-color: #ffffff;
}


/* header */
.h-title{
    height: 100px;
    border-top: solid 5px #0E36CA;
    position: relative;
}

.h-title .h-logo{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}

@media screen and (min-width:800px){
    .h-nav{
        border-top: solid 1px #d2d2d2;
        border-bottom: solid 1px #d2d2d2;
    }
    .h-menu{
        list-style: none;
        margin: 0;
        padding: 0;
        letter-spacing: -.4em;
    }
    .h-list{
        display: inline-block;
        width: calc(100%/6);
        position: relative;
        letter-spacing: normal;
        height: 64px;
        border-right: 1px solid #d2d2d2;
        box-sizing: border-box;
        vertical-align: bottom;
    }

    .h-list:hover{
        background-color: #e6ebfa;
        transition: all .5s ease 0s;
    }
    .h-list:hover .h-l-top{
        color: #0e36ca;
        transition: all .5s ease 0s;
    }
    /* ▼header:hoverの装飾系▼ */
    /* .h-list:hover .h-l-box{
        border-left: 3px solid #103de4;
    } */
    .h-list:hover .h-l-box::before{
        content: "";
        width: 3px;
        height: 100%;
        position: absolute;
        background-color: #0e36ca;
        left: 4px;
    }
    /* ▲▲▲▲▲▲▲▲▲▲▲▲ */
    .h-l-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 98%;
        text-align: center;
        line-height: 1.6;
    }
    .h-l-top{
        color: #666666;
        font-weight: bold;
    }
    .h-l-bottom{
        color: #d2d2d2;
        font-size: 10px;
        text-align: center;
        letter-spacing: 0.15em;
    }
    .active{
        background-color: #e6ebfa;
    }
    .active .h-l-box::before{
        content: "";
        width: 3px;
        height: 100%;
        position: absolute;
        background-color: #0e36ca;
        left: 4px;
    }
}

.h-imagesbox{
    position: relative;
    width: 100%;
}
.h-imagesbox::before{
    content: "";
    display: block;
    padding-top: calc( 300/1000*100% );
}
.h-img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    /* display: none; */
}
/* .i-active{
    z-index: 30;
    opacity: 1.0;
}
.h-imagesbox img.last-i-active{
    z-index: 20;
} */

.h-nav-toggler{
    display: none;
}

/*header media query*/
@media screen and (max-width:800px){
    .h-nav-toggler{
        width: 50px;
        height: 50px;
        display: block;
        background: #fff;
        position: absolute;
        top: 50%;
        right: 4%;
        transform: translateY(-50%);
        border: solid 1px black;
    }
    .fa-property{
        padding: 5px;
        font-size: 2rem;
    }
    .h-nav{
        position: absolute;
        top: 105px;
        z-index: 40;
        width: 100%;
        display: none;
    }
    .h-menu{
        list-style: none;
        margin: 0;
        padding: 0;
        letter-spacing: -.4em;
    }
    .h-menu a{
        text-decoration: none;
    }
    .h-list{
        width: 100%;
        background: black;
        opacity: 0.8;
        letter-spacing: normal;
        border-bottom: 1px solid #d2d2d2;
        box-sizing: border-box;
        padding: 15px 20px;
        box-sizing: border-box;
    }
    .h-l-top{
        font-size: 20px;
        text-align: left;
        font-weight: normal;
        color: #ffffff;
    }
    .h-l-bottom{
        color: #ffffff;
        font-size: 12px;
        text-align: left;
        letter-spacing: 0;
    }
}


/* contents */
.contents{
    padding: 20px 25px;
}

/* main */
.main{
    width: 72%;
    float: left;
}

.m-section{
    color: #666666;
    margin-bottom: 70px;
}
.m-section a{
    color: #666666;
}
.m-section a:hover{
    color: #0e36ca;
    transition: all .5s ease 0s;
}
.m-h2{
    background-color: #0f3bda;
    color: #ffffff;
    padding: 5px 12px 5px 20px;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: normal;
}
.m-h2::first-letter{
    border-left: 3px solid #8e9eef;
    padding-left: 20px;
}
.m-info{
    margin: 0 20px;
}
.m-i-date{
    float: left;
    color: blue;
    letter-spacing: 0.1rem;
}
.m-i-content{
    margin: 0;
    padding-left: 135px;
    border-bottom: solid 1px #ccc;
}
.m-i-new{
    background-color: red;
    font-size: 11px;
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
}
.m-log{
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}
.m-loglink{
    color: #666666;
}

.m-h3{
    background: linear-gradient(#FEFEFE, #EEEEEE);
    color: #666666;
    padding: 5px 12px 5px 24px;
    border-radius: 4px;
    font-size: 18px;
    border: #ccc 1px solid;
    font-weight: normal;
    margin: 0;
}
.m-p{
    font-size: 15px;
    color: #666666;
    margin: 10px 16px;
    line-height: 2;
}
.m-point{
    color: red;
    font-weight: bold;
}

.m-table{
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}
.m-t-headline, .m-t-contents{
    border: solid 1px #ccc;
    padding: 10px 15px;
}
.m-t-headline{
    font-weight: normal;
    width: 27%;
    text-align: center;
}
.m-t-contents{
    text-align: left;
}
.m-t-c-link{
    color: #666666;
}

.m-t-title{
    border: solid 1px #ccc;
    padding: 10px 15px;
    text-align: left;
    font-weight: normal;
}

.m-f-text{
    width: 50%;
}

.m-f-textarea{
    width: 98%;
}

.submit-buttom{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.submit-buttom input{
    font-size: 15px;
    padding: 5px 10px;
    background: linear-gradient(#FEFEFE, #EEEEEE);
    border-radius: 5px;
}

.m-code{
    background-color: #CCCCCC;
    color: #333333;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;;
}

.m-link{
    text-decoration: none;
    color: #666666;
}
.m-service{
    border: solid 1px #CCCCCC;
    background: linear-gradient(#FEFEFE, #EEEEEE);
    box-shadow: 2px 2px 2px #cccccc;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    margin: 20px 0;
}
.m-s-img{
    width: 30%;
    height: auto;
    margin-right: 10px;
    float: left;
}
.m-s-text h4{
    font-size: 18px;
    color: #0e36ca;
    margin: 0;
    font-weight: normal;
}
.m-s-text p{
    margin: 0;
}
.m-link .m-service::before{
    content: "→";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #666666;
    color: #ffffff;
    top: 20px;
    right: 20px;
    text-align: center;
    border-radius: 3px;
}

.m-service:hover{
    background: #fff;
    box-shadow: 0px 10px 20px #ccc;
    transform: translateY(-5px);
    transition: .3s;
}

/* side */
.side{
    float: right;
    width: 24%;
}

.s-frambox{
    padding: 10px;
    border: 1px solid #ccc;
    background: linear-gradient(#FEFEFE, #EAEAEA);
    margin-bottom: 24px;
    color: #666666;
}
.s-h4{
    padding: 15px 10px;
    border-top: 5px solid blue;
    background: #eeeeee;
    margin: 0;
    border-bottom: 1px solid #d2d2d2;
}
.s-menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.s-list{
    border-bottom: 1px solid #d2d2d2;
    padding: 10px;
    padding-right: 15px;
    line-height: 1.3;
    overflow: hidden;
}
.s-list:hover{
    background: #fff;
}
.s-list a{
    text-decoration: none;
    color: #666666;
}
.s-list:hover a{
    color: blue;
}

.s-box{
    margin-bottom: 24px;
    color: #666666;
}

.s-l-img{
    float: left;
    width: 20%;
    margin-right: 5px;
}
.s-l-title{
    color: blue;
    font-size: 11px;
}
.s-l-description{
    font-size: 11px;
}

.s-l-company-name{
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
}
.s-l-company-info{
    font-size: 11px;
    text-align: center;
    line-height: 1.5;
}

@media screen and (max-width:800px){
    .container{
        width: 99%;
    }
    .contents{
        padding: 3%;
    }
    .main{
        clear: both;
        width: 100%;
    }
    .side{
        clear: both;
        width: 100%;
    }
}

@media screen and (max-width:480px){
    body{
        font-size: 12px;
        line-height: 1.5;
    }
    .h-title .h-logo{
        width: 55%;
    }
    .m-h2, .m-h3{
        font-size: 14px;
        padding: 7px 6px 7px 8px;
    }
    .m-h2::first-letter{
        padding-left: 10px;
    }
    .m-info{
        margin: 0 10px;
    }
    .m-i-content{
        padding-left: 110px;
    }
    .m-i-new{
        padding: 1px 3px;
    }
    .m-p{
        font-size: 12px;
        line-height: 1.5;
    }
    .m-t-headline, .m-t-contents{
        padding: 5px;
    }
    .m-t-headline{
        width: 32%;
    }
    .m-code{
        padding: 3px 5px;
    }
    .m-t-title{
        padding: 5px;
    }
    .m-f-text{
        width: 99%;
    }
}


/* arrowlink */
.is-flow{
    width: 50px;
    height: 50px;
    background-color: #4E4E4E;
    position: fixed;
    bottom: 10%;
    right: 5%;
    text-align: center;
    display: none;
}
.is-flow a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    line-height: 50px;
}


/*footer*/
.footer{
    clear: both;
    text-align: center;
    font-size: 13px;
    background: blue;
    color: #fff;
    padding: 10px 0;
    line-height: 2;
}

.f-under{
    font-size: 12px;
}

.footer a{
    text-decoration: none;
    color: #fff;
}
.footer a:hover{
    color: blue;
}